<% if !user_signed_in? %>
<div class="jumbotron">
  <h2>Your Favorite Movies Reviewed</h2>
  <p>Streaming makes watching movies at home easier than ever, but what if you could stream free movies online? We know
    a few sites where you can access free movies online right now, from your computer or laptop, and a few of them from
    streaming devices like a Roku or an Amazon Fire TV stick.</p>
  <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
    </div>
  </div>
  <% end %>
</div>